* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.5);
}
button {
    color: #FFFFFF;
	background-color: rgba(30,30,30,0.85);
	border-style: solid;
    border-radius: 15px;
    border-color: #FFFFFF;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #262626;
	outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}

#windows {
    background-image: image(url("./icons/windows-11.png"));
}
