# MacOS clutter
.DS_Store
**/.DS_Store

# Local fish variables and ssh key config
config/fish/fish_variables
config/fish/local.fish
config/fish/ssh.fish
config/fish/completions

# k9s config changes when app is opened
config/k9s/config.yml
config/brewfile/Brewfile.lock.json
config/fish/functions/fish_user_key_bindings.fish
config/fish/functions/fzf_key_bindings.fish
config/hammerspoon/Spoons
