# MacOS clutter
.DS_Store
**/.DS_Store
mac.md

# Local fish variables and ssh key config
config/fish/fish_variables
config/fish/local.fish
config/fish/ssh.fish

# k9s config changes when app is opened
config/k9s/config.yml
config/brewfile/Brewfile.lock.json
