* {
  font-family: SF Mono;
  color: #e5e9f0;
}

#window {
  background: rgba(0,0,0,0.9);
  border-radius: 20px;
  border: 1px solid #000000;
}

#input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: none;
}

#outer-box {
  padding: 10px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 8px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(255,255,255,0.3);
  outline-style: none;
}

#text {
  margin: 2px;
}
