{
    "Battery_barChart_position" = 3;
    "Battery_battery_additional" = percentage;
    "Battery_battery_color" = 0;
    "Battery_battery_position" = 0;
    "Battery_highLevelNotification" = Disabled;
    "Battery_label_position" = 2;
    "Battery_mini_position" = 1;
    "Battery_processes" = 5;
    "Battery_timeFormat" = short;
    "Battery_widget" = battery;
    "Bluetooth_label_position" = 0;
    "Bluetooth_sensors_mode" = automatic;
    "Bluetooth_sensors_position" = 1;
    "Bluetooth_sensors_size" = 0;
    "Bluetooth_stack_position" = 1;
    "Bluetooth_state" = 0;
    "Bluetooth_widget" = "";
    "CPU_barChart_position" = 3;
    "CPU_label_position" = 1;
    "CPU_lineChart_position" = 2;
    "CPU_mini_alignment" = left;
    "CPU_mini_color" = monochrome;
    "CPU_mini_position" = 0;
    "CPU_notificationLevel" = Disabled;
    "CPU_pCoresColor" = purple;
    "CPU_pieChart_position" = 4;
    "CPU_processes" = 5;
    "CPU_state" = 1;
    "CPU_tachometer_position" = 5;
    "CPU_widget" = mini;
    "Clock_label_position" = 0;
    "Clock_stack_position" = 1;
    "Clock_widget" = "";
    "Disk_barChart_position" = 1;
    "Disk_disk" = "Macintosh HD";
    "Disk_label_position" = 5;
    "Disk_memory_orderReversed" = 0;
    "Disk_memory_position" = 0;
    "Disk_mini_position" = 2;
    "Disk_networkChart_position" = 6;
    "Disk_notificationLevel" = "0.97";
    "Disk_pieChart_position" = 4;
    "Disk_removable" = 1;
    "Disk_speed_position" = 3;
    "Disk_state" = 1;
    "Disk_widget" = memory;
    "GPU_barChart_position" = 3;
    "GPU_label_position" = 0;
    "GPU_lineChart_position" = 2;
    "GPU_mini_position" = 1;
    "GPU_notificationLevel" = Disabled;
    "GPU_showType" = 1;
    "GPU_state" = 0;
    "GPU_tachometer_position" = 4;
    "GPU_updateInterval" = 1;
    "GPU_widget" = "";
    "NSStatusItem Preferred Position CPU_mini" = 400;
    "NSStatusItem Preferred Position Disk_bar_chart" = 460;
    "NSStatusItem Preferred Position Disk_memory" = 528;
    "NSStatusItem Preferred Position Disk_pie_chart" = 487;
    "NSStatusItem Preferred Position Disk_speed" = 782;
    "NSStatusItem Preferred Position GPU_line_chart" = 539;
    "NSStatusItem Preferred Position ItsycalStatusItem" = 110;
    "NSStatusItem Preferred Position Network_speed" = 606;
    "NSStatusItem Preferred Position RAM_line_chart" = 522;
    "NSStatusItem Preferred Position RAM_mini" = 481;
    "NSStatusItem Preferred Position RAM_pie_chart" = 413;
    "NSStatusItem Restore Position RAM_line_chart" = 522;
    "NSStatusItem Restore Position RAM_pie_chart" = 413;
    "Network_base" = byte;
    "Network_label_position" = 1;
    "Network_networkChart_position" = 2;
    "Network_reader" = interface;
    "Network_speed_downloadColor" = monochrome;
    "Network_speed_icon" = arrows;
    "Network_speed_monochrome" = 0;
    "Network_speed_position" = 0;
    "Network_speed_units" = 1;
    "Network_speed_uploadColor" = monochrome;
    "Network_speed_valueColor" = 0;
    "Network_state" = 1;
    "Network_widget" = speed;
    "RAM_barChart_position" = 5;
    "RAM_label_position" = 1;
    "RAM_lineChart_position" = 3;
    "RAM_memory_orderReversed" = 0;
    "RAM_memory_position" = 4;
    "RAM_memory_symbols" = 0;
    "RAM_mini_position" = 0;
    "RAM_notificationLevel" = "0.95";
    "RAM_pieChart_position" = 2;
    "RAM_pie_chart_label" = 1;
    "RAM_pie_chart_monochrome" = 0;
    "RAM_state" = 1;
    "RAM_tachometer_position" = 6;
    "RAM_widget" = mini;
    "Sensors_barChart_position" = 2;
    "Sensors_bar_chart_box" = 1;
    "Sensors_bar_chart_color" = secondBlue;
    "Sensors_bar_chart_frame" = 0;
    "Sensors_bar_chart_label" = 1;
    "Sensors_label_position" = 1;
    "Sensors_sensors_mode" = twoRows;
    "Sensors_sensors_position" = 0;
    "Sensors_sensors_size" = 0;
    "Sensors_state" = 0;
    "Sensors_widget" = sensors;
    "ble_68-fe-f7-67-77-00" = 0;
    "ble_b8-f1-2a-11-26-bb" = 0;
    "fan_0_mode" = 0;
    "fan_0_speed" = 6156;
    "fan_1_mode" = 0;
    "fan_1_speed" = 3378;
    "sensor_Average CPU" = 1;
    "sensor_Average System Total" = 0;
    "sensor_F0Ac" = 0;
    "sensor_F1Ac" = 0;
    "sensor_Fastest Fan" = 0;
    "sensor_Hottest CPU" = 0;
    "sensor_PC0C" = 0;
    "sensor_PCPC" = 0;
    "sensor_PDTR" = 0;
    "sensor_PPBR" = 0;
    "sensor_PSTR" = 0;
    "sensor_Total System Consumption" = 0;
    setupProcess = 1;
    telemetry = 0;
    "temperature_units" = celsius;
}
